<form action="/send" method="post" class="mt-4">
  <div class="form-group">
    <input
      type="number"
      name="number"
      id="number"
      class="form-control shadow-none"
      placeholder="Enter your number"
      autofocus
    />
  </div>
  <div class="form-group">
    <textarea
      name="message"
      id="message"
      cols="30"
      rows="6"
      class="form-control shadow-none"
      placeholder="Write message..."
    ></textarea>
  </div>
  <div class="form-group mb-0">
    <input
      type="submit"
      value="Send"
      class="btn btn-primary btn-block shadow-none"
    />
  </div>
</form>
